#startGameButton {
	align-self: center;
}
#leaderboardResults {
	padding: 0em 0em 1em 0em;
}
/* .leaderboardHeaders {
	font-weight: bold;
	border-bottom: solid rgb(146, 143, 143) 0.1em;
    background: translucent;
} */
ion-title.title-large {
	color: #c897d8;
}

ion-title {
	--color: #382222;
}

ion-toolbar {
	--background: #c897d8;
}
